@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
// @import url('src/assets/bg-footer-squiggle.svg');

// Colors

$clr-cyan: #3EE9E5;
$clr-blue: #093F68;
$clr-gray: #777F98;
$clr-white: #FFFFFF;
$clr-black: #080C20;
$clr-red: #FF2965;

// Font
$primary-font: 'Manrope', sans-serif;


/* Base styles */

body {
    margin: 0;
    background-color: $clr-black;
    color: $clr-white;
    font-family: $primary-font;
}

header {
    text-align: center;
    padding: 3em 0 4em 0;
}

main {
    overflow: hidden;
}

.hero-mobile {
    width: 115%;
}


p {
    font-size: 15px;
    line-height: 25px;
    color: $clr-gray;
}

h2 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

/* Hero section */

.hero {
    text-align: center;
    font-style: normal;
    margin-bottom: 7em;
    position: relative;

    h1 {
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
        padding: 1em 2em 0em 2em;

        span {
            color: $clr-cyan;
        }
    }

    p {
        padding: 0 24px;
    }

    svg {
        padding-top: 1em;

    }
}

/* Features section */

.features {
    text-align: center;
    margin-bottom: 7em;
    padding: 0 24px;

    .feature-container {
        margin-bottom: 6em;

        .svg-container { 
            margin-bottom: 4em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .svg-background {
                border: 1px solid #093F68;
                border-radius: 3em;
                background: #093F68;
                position: absolute;
                width: 95px;
                height: 100px;            
                padding: 1em;

            }

            .passion-svg {
                margin-left: 0.7em;
                height: 80px;
            }

            .financial-svg {
                height: 67px;
            }

            .lifestyle-svg {
                height: 71px;
            }

            .work-svg {
                height: 56px;
            }


        }

        img {
            // border: 1px solid $clr-blue;
            // border-radius: 3em;
            // background: $clr-blue;
            // padding: 1.5em 2em;  
            // margin-bottom: 1em;

            position: relative;
        }

        h3 {
            margin-bottom: 0;
        }
    }
}


/* Prcing section */

.pricing {
    padding: 0 24px;
    margin-bottom: 4em;


    .pricing-header {
        text-align: center;
        margin-bottom: 5em;
    }

    .pricing-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .pricing-card:first-child {
            position: relative;
            background-color: $clr-blue;
            padding: 2em 2em 1em;
            margin-bottom: 4em;
            border-radius: .7em;

            .pricing-svg {
                position: absolute;
                top: -23px;
            }

            p {
                color: $clr-white;
            }

            .card-header {
                margin-bottom: 1em;

                p {
                    font-weight: 200;
                }
            }

            .card-content {
                margin-top: 1.5em;
                margin-bottom: 0.5em;

                h2 {
                    margin: 0;
                }
            }

            .price-features div {
                display: flex;
                flex-direction: row;
                align-items: center;

                svg path {
                    fill: $clr-cyan
                }

                p {
                    margin-left: 1em;
                }
            }

        }

        .pricing-card {
            max-width: 327px;
        }

        .pricing-card:last-child {
            position: relative;
            background-color: $clr-cyan;
            padding: 2em 2em 1em;
            margin-bottom: 3em;
            border-radius: .7em;
            color: $clr-black;

            .pricing-svg {
                position: absolute;
                top: -34px;
            }

            p {
                color: $clr-black;
            }

            .card-header {
                margin-bottom: 1em;

                h3 {
                    margin-top: 2em;

                }

                p {
                    font-weight: 200;
                }
            }

            .card-content {
                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        font-weight: 200;
                        font-size: 15px;
                        line-height: 25px;
                        margin-left: .5em;
                    }
                }
            }

            .price-features div {
                display: flex;
                flex-direction: row;
                align-items: center;

                svg path {
                    fill: $clr-blue
                }

                p {
                    margin-left: 1em;
                }
            }
            
        }
    }
}

.card-content {
    h2 {
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
    }

    .price-features {
        p {
            color: $clr-white
        }
    }
}


/* Prcing section */

.cta {
    text-align: center;
    margin-bottom: 7em;

    .bg-footer-squiggle {
        position: absolute;
        max-width: 700px;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 1em;

    }

    h2 {
        padding: .8em;
        position: relative;
    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 1.5em;

        input {
            padding: .9em;
            border-radius: 2em;
            border: 0px;
            background-color: $clr-blue;
            font-weight: 800;
            font-size: 15px;
            line-height: 25px;
            height: min-content;
        }

        input::placeholder {
            color: $clr-white;
            mix-blend-mode: normal;
            opacity: 0.4;
            margin-left: 2em;
        }

        button {
            cursor: pointer;
            padding: .9em;
            margin-top: 2em;
            border-radius: 2em;
            border: 0px;
            background-color: $clr-cyan;
            text-align: center;
            font-weight: 800;
            font-size: 15px;
            line-height: 25px;
            color: $clr-blue;
        }
    }

}

@media screen and (max-width: 767px) {


    .bg-hero-squiggle {
        display: none;
    }

    .bg-hero-left {
        display: none;
    }

    .bg-hero-right {
        display: none;
    }

    .bg-footer-squiggle {
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    header {
        text-align: left;
        padding: 3em 0 4em 3em;
    }   

    .hero {

        h1 {
            position: relative;
        }

        .hero-mobile {
            display: none;
        }

        .bg-hero-left {
            position: absolute;
            width: 313.71px;
            height: 354.37px;
            left: -169px;
            top: 0;
        }

        .bg-hero-right {
            position: absolute;
            width: 317px;
            height: 356px;
            right: -169px;
            top: 0px;
        }

        .bg-hero-squiggle {
            max-width: 415px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }

        .container {
            max-width: 457px;
            margin: 0 auto;

            p {
                padding: 0;
            }
        }
    }

    .features {  
        max-width: 600px;
        margin: 0 auto;      
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // margin-left: 3em;
        padding-top: 7em;
        padding-bottom: 7em;


        .feature-container {
            max-width: 515px;
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: left;
            margin-bottom: 2.5em;

            .svg-container {
                margin-bottom: 0;
            }

            .feature-content {
                margin-left: 4em;
            }

            .feature-svg-container {
                margin-left: 2em;
            }
        }

        .feature-container:nth-child(1), .feature-container:nth-child(3) {
            margin-left: 4em;
        }  
    }


    .pricing {

        .pricing-header {
            max-width: 573px;
            margin: 0 auto;
            padding-bottom: 4em;

        }

        .pricing-container {

            .pricing-card:first-child {
                max-width: 445px;
            }

            .pricing-card:last-child {
                max-width: 445px;
            }
        } 
        
    } 

    .cta {
        position: relative;

        h2 {
            padding: 0;
        }

        .bg-footer-squiggle {
            position: absolute;
            max-width: 1022px;
            margin: 0 auto;
            right: 0;
            left: 0;
        }

        .form {
            flex-direction: row;
            align-items: baseline;
            width: 520px;
            margin: auto;

            padding: 0;

            input {
                width: 300px;
            }

            button {
                position: relative;
                width: 145px;
                margin-left: 1em;
                margin-top: 0;
            }
        }
    }
}